<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zyd.store.mapper.LabelInfoMapper" > 

<!-- Result Map-->
<resultMap id="BaseResultMap" type="org.zyd.store.entity.LabelInfoEntity" >
	<result column="label_id" property="labelId" jdbcType="INTEGER" />
	<result column="label_name" property="labelName" jdbcType="VARCHAR" />
	<result column="style" property="style" jdbcType="VARCHAR" />
	<result column="introduction" property="introduction" jdbcType="VARCHAR" />
	<result column="is_valid" property="isValid" jdbcType="INTEGER" />
	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	<result column="create_by" property="createBy" jdbcType="VARCHAR" />
	<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
</resultMap>
       
<!-- label_info table all fields -->
<sql id="Base_Column_List" >
	 label_id, label_name, style, introduction, is_valid, create_time, create_by, update_time, update_by
</sql>
   
<!-- 查询条件 -->
<sql id="Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="labelId != null" >
	    and label_id = #{labelId, jdbcType=INTEGER}
	</if>
	 	<if test="labelName != null and labelName != ''" >
	    and label_name = #{labelName, jdbcType=VARCHAR}
	</if>
	 	<if test="style != null and style != ''" >
	    and style = #{style, jdbcType=VARCHAR}
	</if>
	 	<if test="introduction != null and introduction != ''" >
	    and introduction = #{introduction, jdbcType=VARCHAR}
	</if>
	<if test="isValid != null" >
	    and is_valid = #{isValid, jdbcType=INTEGER}
	</if>
	<if test="createTime != null" >
	    and create_time = #{createTime, jdbcType=TIMESTAMP}
	</if>
	 	<if test="createBy != null and createBy != ''" >
	    and create_by = #{createBy, jdbcType=VARCHAR}
	</if>
	<if test="updateTime != null" >
	    and update_time = #{updateTime, jdbcType=TIMESTAMP}
	</if>
	 	<if test="updateBy != null and updateBy != ''" >
	    and update_by = #{updateBy, jdbcType=VARCHAR}
	</if>
</trim>
</sql>

<!-- 插入记录 -->
<insert id="insert" parameterType="org.zyd.store.entity.LabelInfoEntity" >
  	insert into label_info(
		label_id,
		label_name,
		style,
		introduction,
		is_valid,
		create_time,
		create_by,
		update_time,
		update_by
	) values (
		#{labelId, jdbcType=INTEGER},
		#{labelName, jdbcType=VARCHAR},
		#{style, jdbcType=VARCHAR},
		#{introduction, jdbcType=VARCHAR},
		#{isValid, jdbcType=INTEGER},
		#{createTime, jdbcType=TIMESTAMP},
		#{createBy, jdbcType=VARCHAR},
		#{updateTime, jdbcType=TIMESTAMP},
		#{updateBy, jdbcType=VARCHAR}
	)
</insert>

<!-- 根据所选内容更新 -->
<update id="updateBySelective" parameterType="org.zyd.store.entity.LabelInfoEntity" >
	update label_info set 
	<trim  suffixOverrides="," >
		<if test="labelName != null  and labelName != '' ">
			label_name = #{labelName, jdbcType=VARCHAR},
		</if>
		<if test="style != null  and style != '' ">
			style = #{style, jdbcType=VARCHAR},
		</if>
		<if test="introduction != null  and introduction != '' ">
			introduction = #{introduction, jdbcType=VARCHAR},
		</if>
		<if test="isValid != null  ">
			is_valid = #{isValid, jdbcType=INTEGER},
		</if>
		<if test="createTime != null  ">
			create_time = #{createTime, jdbcType=TIMESTAMP},
		</if>
		<if test="createBy != null  and createBy != '' ">
			create_by = #{createBy, jdbcType=VARCHAR},
		</if>
		<if test="updateTime != null  ">
			update_time = #{updateTime, jdbcType=TIMESTAMP},
		</if>
		<if test="updateBy != null  and updateBy != '' ">
			update_by = #{updateBy, jdbcType=VARCHAR},
		</if>
	</trim> 
	where label_id = #{labelId, jdbcType=INTEGER}
</update>

<!-- 删除 -->
<update id="delete" parameterType="org.zyd.store.entity.LabelInfoEntity">
	delete from label_info where label_id = #{labelId}
</update>

<!-- 查询 -->
<select id="select" resultMap="BaseResultMap"  parameterType="org.zyd.store.term.LabelInfoTerm">
	select 
    <include refid="Base_Column_List"/>
    from label_info 
    <include refid="Where_Clause"/>
</select>

<!-- 查询 -->
<select id="selectByKeys" resultMap="BaseResultMap"  parameterType="java.util.ArrayList">
	select
	<include refid="Base_Column_List"/>
	from label_info
	where label_id in
	<foreach item="tempId" collection="list" open="(" separator="," close=")">
		#{tempId}
	</foreach>
</select>
</mapper>   
