/*	for the footer page	*/

#footerWrapper{	
	vertical-align: middle;
	background-color:#333333;
	min-width:100%;
	}

.copyright{
	display:block;
	padding-top:3px;
	padding-bottom:3px;
	width: 100%;
	text-align: center;
	color: #CCCCCC;
	font-size:12px;
}