/********************************************
   AUTHORS: Erwin Aligam / doTemplate
  *******************************************/

* { margin: 0; padding: 0; outline: 0; }

body {
	background-color:#C6C3C6;
	margin:0;
	padding:0;
	text-align:center;
	color:#525152;
	font-family: Trebuchet MS, Arial, Tahoma, sans-serif;
    font-size:12pt;
}

#wrapper {
	width:820px;
	background: #FFFFFF  url(../images/bg.jpg) repeat-y center top;
    margin:0 auto;
    text-align:left;
}




#content-wrapper {
	width: 780px;
	margin: 0px auto;
	padding: 0;
}


#header {
	position: relative;
    height:151px;
	background: #caced1 url(../images/header.jpg) no-repeat center top;
	padding: 0;	
	color: #fff;
	margin-left:auto;
    margin-right:auto;
	width:820px;
}

#nav{
}

#contentpane {
	float: left;
	width: 740px;
	padding: 20px 0 0 0;
	margin: 0px 0px 0px 20px ; 
	display: block;
	height:310px;
	/*background: url(../../images/box.jpg) no-repeat;*/
}



h1 {
	font-family:Trebuchet MS, Arial, Tahoma, sans-serif;
	font-size:20pt;	
	letter-spacing:3px;
}

h2 {
	font-family:Trebuchet MS, Arial, Tahoma, sans-serif;
	font-size:16pt;	
	letter-spacing:2px;
}

h3 {
	font-family:Trebuchet MS, Arial, Tahoma, sans-serif;
	font-size:14pt;	
}


a, a:visited {
	color:#9CC3DE;
	text-decoration:none;
}

a:hover {
	color:#93C600;
	text-decoration:underline;
}


#footer {
	color: #FFFFFF;
	background: #C6C3C6 url(../images/footer.jpg) no-repeat center top;
	clear: both;
	width:820px;
	height: 80px;
	text-align: center;	
	font-size: 8pt;	
}

#footer p { 
	padding: 10px 0;
	margin: 0;
}

#footer a {
	color: #FFFFFF;
	text-decoration: none; 
}


.clear { clear: both; }



.button {
	border: #CCCCFF 2px outset; 
	padding: 0em 0.2em 0.2em 0.2em;
	font-weight: bold;
	font-size: 10.5pt; 
	height: 25px;  
	font-family: Arial, Helvetica, sans-serif; 
	background-color: #41528D;
	color: #9CC3DE;
	margin-top:3px;
}

.button:hover, .button-normal:hover{
	cursor:hand;
	border: #CCCCCC 2px outset; 
	color: #41528D; 
	background-color: #9CC3DE;
	text-decoration:none;
}

input{
    font-family: "Arial";
    font-size: 10pt;
    border: 1px black solid;
	height:22px;
	line-height:22px;
	vertical-align:bottom;
	margin-top:3px;
}

.button-normal {
	border: #CCCCFF 1px outset; 
	padding: 0em 0.2em 0.2em 0.2em;
	font-weight: bold;
	font-size: 10.5pt; 
	height: 25px;  
	font-family: Arial, Helvetica, sans-serif; 
	background-color: #41528D;
	color: #9CC3DE;
	margin-top:3px;
}


/*for the support hotline*/
#supportHotline{
	text-align:	center;
	color: #000000;
	font-size: 12px ;
	padding-top; 3px ;
	padding-bottom: 3px ;
	width: 100% ;
	font-family: Arial, Helvetica, sans-serif; 
}

#supportHotline span{
	color:#6495ED;
}
