
/*** Start Menu ***/
li.menubarex2 {
    background-color: #FF8F59;
    font-size: 12px;  
    list-style: none outside;
    border-bottom:1px solid #FF8040;
}

.menubarex2 ul.menu li, .menubarex2 ul.submenu li  {
    padding:0px;
    margin:0px;
    border-bottom:1px solid #FF8040 !important;
}

li.menubarex2 a.standalone {
    margin:0px; 
    color:#FFFFFF; 
    font-weight: bold;
    font-size: 12px;
    list-style: none; 
    text-align:left; 
    display: block;
    padding: 5px;
    border-left: 10px solid #EC4D00;
    border-bottom: 1px solid #EC4D00;
    background-color: #FF8F59;
    text-decoration: none;
    margin:0px;
}

.menuList .menubarex2 a.actuator {
    list-style: none; 
    margin:0px -10px 0px 0px;
    display: block;
    padding: 5px;
    color:#FFFFFF; 
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    list-style-position: outside; 
    text-align:left;
    border-left: 10px solid #EC4D00;
    border-right: 10px solid #FFDAC8;
    border-bottom: 1px solid #EC4D00;
    background-color: #FF8F59;
}
    

.menuList .menubarex2 a.actuator:hover, li.menubarex2 a.standalone:hover{
    border-left: 10px solid #FF8042;
}

.menubarex2 ul{
    font-size: 10px;    
    background-color: #FF8F59 !important;
    text-decoration: none;
    list-style: none; 
/*  color:#CC91D7 !important;*/
    padding:10px 25px 10px 10px;
}

.menuList .menubarex2 .menu li a{   
    margin-bottom:0px;
    display: block;
    padding:5px;
    border-left: 10px solid #FFA980;
    border-bottom: 1px solid #FFA980;
    background-color: #FFCDB5;
    color: #000000;
    text-decoration: none;
}

.menuList .menubarex2 .menu li a:hover{ 
    border-left: 10px solid #F8F4FF;
}

/*** End Menu ***/



