/*** Start Menu ***/
li.menubarex1 {
    /* background-color: #2465A6;
    font-size: 12px;  
    list-style: none outside;
    border-bottom:1px solid #EAF2FF; */
    
    background:transparent url(../images/default/home_06.jpg) scroll no-repeat left;
    height:36px;
    width:160px;
}

.menubarex1 ul.childmenu li, .menubarex1 ul.submenu li  {
   /*  padding:0px;
    margin:0px;
    border-bottom:1px solid #EAF2FF !important; */
}

li.menubarex1 a.standalone {
    /* margin:0px; 
    color:#000000; 
    font-weight: bold;
    font-size: 12px;
    list-style: none; 
    text-align:left; 
    display: block;
    padding: 5px;
    border-left: 10px solid #164069;
    border-bottom: 1px solid #164069;
    background-color:#EAF2FF;
    text-decoration: none;
    margin:0px; */
    color:#0E2D5F; 
    text-align:left; 
    display: block;
}

li.menubarex1 a.standalone div{
    padding-left:20px;
    padding-top:10px;
    font-weight: bold;
    font-size: 12px;
    list-style: none; 
}

div.bottomLine {
    background:transparent url(../images/default/line.jpg) scroll no-repeat left;
    height:2px;
    width:160px;
}

.menuList .menubarex1 a.actuator {
    /* list-style: none; 
    margin:0px -10px 0px 0px;
    display: block;
    padding: 5px;
    color:#000000; 
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    list-style-position: outside; 
    text-align:left;
    border-left: 10px solid #164069;
    border-right: 10px solid #B9D5F0;
    border-bottom: 1px solid #164069;
    background-color: #EAF2FF; */
}
    

.menuList .menubarex1 a.actuator:hover, li.menubarex1 a.standalone:hover{
    /* border-left: 10px solid #EAF2FF; */
     background:transparent url(../images/default/home_04.jpg) scroll no-repeat left;
    height:36px;
    width:160px;
}

.menubarex1 ul{
    /* font-size: 10px;    
    background-color: #EAF2FF !important;
    text-decoration: none;
    list-style: none; 
 color:#CC91D7 !important;
    padding:10px 25px 10px 10px; */
}

.menuList .menubarex1 .childmenu li a{   
    /* margin-bottom:0px;
    display: block;
    padding:5px;
    border-left: 10px solid #639FDC;
    border-bottom: 1px solid #2465A6;
    background-color:#74AAE0;
    color: #000000;
    text-decoration: none; */
}


.menuList .menubarex1 .childmenu li a:hover{ 
    /* border-left: 10px solid  #CBDFF3; */
}

/*** End Menu ***/