/*### Start - Control site layout ###*/
#container {
	background-color:white;
}

/*### Start - Target IE 6 only ###*/
* html #container{
	height:100%; /* Min height hack will cause rendering problem in IE8 when resize, so target only IE 6 */}

* html #container, * html #footer{*width:expression(document.body.clientWidth < 802? "800px": "100%" );}
/*### End - Target IE 6 only ###*/

#container {
	min-width: 800px;
	width: 100%;	
	min-height: 100%;
	position:relative;
	float:left;
}

#masthead {
	/*height:20px;*/
}

#nav {
	background-color: #FFFFFF;
	/*background:url(../img/menu.jpg) repeat scroll top left;*/
	width: 160px; 	
	position: relative;
	clear:both;
	float: left;
	text-align: left;	
	/* margin:30px 0 50px 0; */
	z-index:1;
/*	min-height:600px;
	height:80%;*/
}

#main {
	margin: 0 10px 0px 10px;
	zoom:1;
	}

#mainWrapper {
	width:100%;
	padding:2px 0px; /* Prevent margin collapse */}

#footer {
	width:100%;
	min-width: 800px;
	clear:both;
	position:absolute;
	left: 0px;
	bottom: 0px;
/*	margin-top:10px;*/

}

/*### End - Control site layout ###*/


/* Added By Edwin */
/*### Start - Common Styles ###*/

	/*### Start - Overide default HTML styles ###*/
		html, body {
			height: 100%;
			overflow-x:hidden;
			}
			
		html *{
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-weight: normal;
			margin:0px;
			outline:none;
			}
		
		div, img{
			border:0px;}
		
		body, div, span{
			padding:0px;
			}
			
		a:link, a:visited, a:active {
			/*color:#9CC3DE;*/
			text-decoration:none;
		}
		
		a:hover{
			/*background-color:pink;
			font-weight:bold;*/
			/*color:#93C600;*/
			text-decoration:underline;
			}
	
	/*### End - Overide default HTML styles ###*/	
	
	
	/*### Container used for grouping items ###*/
	.group{}
	
	/*### Style for title ###*/
	.title{	
		font-weight: bold;
		color: #000000;
		vertical-align:middle;
		line-height:20px;
	}
	
	.hiddenicon{	
		float:right;
		margin-right:20px;
	}
	
	
	/*### Container for paging of records ###*/
	.paging {
		height:30px;
		margin:10px 0px;}

	/*### Container for main contents ###*/
	.content {
		width:100%;
		overflow-x:auto;
		margin:10px 0px;
		}
	
	/*### Container for inner table ###*/
	.innerTable{
		border-collapse: collapse;
	}
	
	.innerTable .text{
		padding: 0px 10px;
	}
	
	/*### Container for displaying information such as validation error, action status etc... ###*/
	.info {
		margin:10px 0px;
		font-weight: bold;
		padding:0 10px;
	}  
	
	/*### Container for adding spacer between two divs ###*/
	.spacer{
		height:6px;
	}
	
	/*### Generic style set for page labels ###*/
	.label, .dataLabel{
		font-weight:bold;
	}
	
	/*### Seperator used between label and value ###*/
	.recordWrapper .seperator{
		padding:0px 10px 0px 2px;}
		
	.inputForm .seperator, .recordData .seperator{
		padding:2px 4px 2px 2px;
		float:right;
	}
	
	.dataWrapper .seperator{
		padding:0px 50px 0px 2px !important;
	}
	
			
	/*### To indicate mandatory fields ###*/
	.mandatory{ 
		color:#FF0000; 
		font-weight:bold;
	}
			
	/*### Start - Generic styles for display of records ###*/
		.record .recordWrapper, .dataWrapper{
			overflow:hidden; /* used to contain floats */
			position:relative;
			zoom:1;
			background-color: #fff;
			margin-bottom:10px;
			}
			
		.record .inputForm .labelCell, .record .recordData .labelCell{
			width:30%;
			}
			
		.popup .record .labelCell{
			width:50%;
			}
		/*
		.record .inputForm td.data, .record .recordData td.data{
			background-color: #F5F5F5;
			}
			
		.record .inputForm td.labelCell, .record .recordData td.labelCell{
			background-color: #FEF3F3;
			}
		*/
		
		/*
		.dataWrapper{
			overflow:hidden; /* used to contain floats */
		/*	position:relative;
			zoom:1;
			background-color: #fff;
			margin-bottom:10px;
			}
		*/	
		
		.dataWrapper .inputForm .labelCell{
			width:22% !important;
			}
			
		.dataWrapper .inputForm td.data{
			background-color: #F5F5F5 !important;
			height:28px !important;
			}
			
		.dataWrapper .inputForm td.labelCell{
			background-color: #EEC1FD!important;
			height:28px !important;
			}
		
		.dataWrapper .inputForm td.data .dataDisplay{
			padding:0 3px;
			}
			

	/*### End - Common styles for display of records ###*/
	
	
	/*### Used to clear floats ###*/
	.clear{ 
		clear: both;
		height:0px;
		width:0px;
		overflow:hidden;  /* To prevent bottom margin of this element container from missing */ }
		
    /*### Start - design for basic html component, e.g. inputbox, radio button*/
	.radioButton{ /* radio button*/
		margin:0 2px 0 0;
		vertical-align:baseline;
	}

	.inputBox { /* inputBox*/
 		height:25px;
		vertical-align: bottom;
		margin-right:5px;
		margin-left:2px;
		padding-top:3px;
	}
	
	/* ### Start - set select height needs div to simulate.*/
	.select{
		height:25px;
		margin-left:2px;
	/*	width:135px;  */
	}
	
	.chk{ /* checkbox*/
		margin-left:2px;
	}

	/*### End -*/
	
/*### End - Common Styles */
