<!doctype html>
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<title>矿料</title>
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/stuff.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/swiper-2.1.min.js"></script>
<script type="text/javascript" >
    function toindex() {
        window.location.href = "index.html";
    }
    function clearsword() {
        $("#sword").val('');
    }
    $(function () {
        $('#openBar').click(function () {
            $('.bar-mask').show();
            $('.bar-info').addClass('show');
        });
        $('#closeBarBtn').click(function () {
            $('.bar-mask').hide();
            $('.bar-info').remove('show');
        });
    })
</script>
<script id="StuffArea" type="text/underscroe-tmpl">
<% _.map(mdata, function(value, key) { %>
<div class="title_s"><%= key %></div>
<ul class="list_sp">
	<% _.each(value, function(item) { %>
	<li onClick="todetail(<%= item.pugId%>)">
        <img onerror="this.src='images/none.png'"  src="images/pug/<%= item.thumbImg%>" />
        <p><%= item.pugName%></p>
    </li>
    <% }) %>
<div class="clear"></div>
</ul>
<% }) %>
</script>
<script id="Swiper" type="text/underscroe-tmpl">
	<% _.each(list, function(item) { %>
    <div class="swiper-slide"><a href="<%= item.jumpUrl%>"><img  src="images/<%= item.imgAddr%>"></a></div>
    <% }) %>
</script>
</head>

<body>
<div class="replace"></div>
<!--轮播图开始-->
<div class="swiper-container" style="height:200px">
    <div class="swiper-wrapper" id="swiper-wrapper">
    </div>
    <div class="pagination"></div>
</div>
<!--轮播图结束-->
<div class="find_04">
    <img class="pic_02" src="images/icon05.png" />
    <form action="" class="input-kw-form">
	<input type="search" id="sword" autocomplete="off" onsearch="initSearch();" placeholder="搜索矿料">
    </form>
    <img onClick="clearsword()" class="close02" src="images/close02.png" />
    <div class="clear"></div>
</div>
<div id="stuffArea">
</div>

<div class="foot02">
	<p style="line-height:1.8rem">苏ICP备 17062482</p>
    <p>技术支持：南京一汀网络科技有限公司+万事屋</p>
</div>

<div style="height:3.4rem">&nbsp;</div>
<div class="btn_03">
    <div class="index_l" onClick="toindex()">
        <img class="c17" src="images/index.png" />
        <span class="c23">首页</span>
    </div>
    <div class="add_r" id="openBar">
        <img class="c17" src="images/qr_code.png" />
        <span class="c23">点击关注公众号</span>
    </div>
    <div class="clear"></div>
</div>
<!-- 弹出二维码 -->
<div class="bar-mask">
    <div class="bar-info">
        <div style="background-color:#f9f9f9;padding:3.5%;">
            <header class="bar-header">
                <img class="wechat_icon" src="images/icon_wechat.svg">
                <span style="vertical-align: middle">微信公众平台服务号</span>
                <img id="closeBarBtn" class="close_icon" src="images/icon_close.svg" style="float: right;padding-right:5px;">
            </header>
        </div>
        <section class="bar-container" style="margin-top: 15%;margin-bottom: 12%;">
            <header style="text-align: center;color: #a5a5a5">识别关注紫砂查询服务号</header>
            <section style="width: 70%;margin: 6% auto;text-align: center">
                <img src="images/qr_code.jpeg" style="width: 80%;">
            </section>
            <footer>
                <div class="active">紫砂信息大数据平台</div>
                <!-- <div>客服二维码</div> -->
            </footer>
        </section>
        <footer class="bar-footer">
            紫砂爱好者的四库全书
        </footer>
    </div>
</div>
<script type="text/javascript" >
    $(function () {
        $(".menu > div:not(:last)").css("height", $("#menu_left").css("width"));
        var findDivOldTop = 0;
        var findDivHeight = 0;
        $(document).scroll(function () {
            var findDiv = $('.find_04');
            var adPicOffset = findDiv.offset();
            findDivHeight = findDiv.height();
            if (adPicOffset.top <= $(this).scrollTop() && !findDiv.hasClass('fixed')) {
                $('.replace').css({
                    'margin-top': findDivHeight + 'px'
                })
                findDiv.addClass('fixed');
                findDivOldTop = adPicOffset.top;
            } else if (findDivOldTop >= $(this).scrollTop() && findDiv.hasClass('fixed')) {
                $('.replace').css({
                    'margin-top': '0px'
                })
                findDiv.removeClass('fixed');
            }
        });
    });
</script>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript"></script>
<script type="text/javascript">
    wx.ready(function () {
        var sdata = {
            title: '紫砂查询|矿料查询',
            desc: '查看紫砂矿料信息',
            link: location.href,
            imgUrl: 'http://m.zishachaxun.com/pug/logo.jpg'
        };
        wx.onMenuShareTimeline(sdata);
        wx.onMenuShareAppMessage(sdata);
    })
</script>
</body>
</html>
